appnope==0.1.0
args==0.1.0
blessings==1.6
bpython==0.16
click==6.6
clint==0.5.1
curtsies==0.2.11
decorator==4.0.10
docopt==0.6.2
flake8==3.2.1
greenlet==0.4.10
ipdb==0.10.1
ipython==5.1.0
ipython-genutils==0.1.0
jedi==0.9.0
mccabe==0.5.2
pexpect==4.2.1
pickleshare==0.7.4
pkginfo==1.4.1
prompt-toolkit==1.0.9
ptipython==1.0.0
ptpython==0.36
ptyprocess==0.5.1
pycodestyle==2.2.0
pyflakes==1.3.0
Pygments==2.1.3
requests==2.12.1
requests-toolbelt==0.7.0
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.1
twine==1.8.1
vmprof==0.3.16
wcwidth==0.1.7
wsgi-lineprof==0.2.0
wsgi-static-middleware==0.1.0
-e git+git@github.com:kobinpy/wsgicli.git@cd2dedb5a47d0dd240469c8744573465022b1b27#egg=wsgicli
